# Системные файлы и метаданные ОС
.DS_Store
Thumbs.db

# Python-окружение
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.whl

# Виртуальные окружения и зависимости
venv/
env/
.venv/
env.bak/
env.d/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Конфигурационные файлы и кэш FastAPI
*.sqlite3
*.db
instance/
*.db-journal

# Тестовые и отчетные файлы
htmlcov/
.tox/
.pytest_cache/
.coverage
coverage.xml
.cache/
nosetests.xml
coverage/

# Инструменты редактора и IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Сборки (если используется pyinstaller)
dist/
build/
